page-request-flight {
    .invalid {
        border: 1px solid #ea6153;
    }
    p{
        color: #ea6153 !important;
        font-size: 1.4rem !important;
        margin: 1px 18px !important;
    }
    .datetime-text {
        color:black !important;
    }
    .select-text {
        color: black;
  
    }
    .submit-btn {
        background-color: #1f3763;
    }

}
