page-flying-hours {
    // .card-content{
    //     background-color: #424242;
    // }
    ion-label{
        color: black;
    }
    .item.item-block .item-inner {
        padding-right: 8px;
        padding-right: 8px;
        border-bottom: 0px solid #c8c7cc;
    }

}
