accordion {

   

    .expand-wrapper {
        transition: 0.9s linear;
        background-color: #fff;
        max-height: 600px;

    }   
 
    .collapsed {
        height: auto;
        max-height: 0;
        transition: max-height 0.2s linear;
    }

    p {
      color: black !important;
    }

}
