page-menu {
    .bg-style {
        background-color: #15212f;
    }
    .item-md {
        color: white;
        background: transparent;
    }
    .item-ios {
        color: white;
        background: transparent;
    }

}
